---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
      .post__card__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .post__card__container > a {
        text-decoration: none;
      }
      .post__card__content {
        display: flex;
        min-height: 15rem;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .post__card__content > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .post__card__content > div:nth-child(2) {
        display: flex;
        min-width: 15rem;
        max-width: 15rem;
      }
      .post__card__img {
        object-fit: cover;
      }

      @media (max-width: 768px) {
        main {
          width: 100%;
        }
        .post__card__content {
          flex-direction: column;
        }
        .post__card__content > div:nth-child(2) {
          min-width: 100%;
          max-width: 100%;
        }
      }
    </style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<div class="post__card__container">
					{
						posts.map((post) => (
								<a href={`/blog/${post.id}/`}>
                  <div class="post__card__content">
                    <div>
                      <h4 class="post__card__title">{post.data.title}</h4>
							        <p class="post__card__date">
							        	<FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                    <div>
							    	  <img src={post.data.heroImage} alt="" class="post__card__img"/>
                    </div>
                  </div>
								</a>
						))
					}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
